@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "MyanmarSansPro";
    src: url("../fonts/MyanmarSansPro-Regular.ttf");
}

:root{
    --primary-color : #256bf4;
    --secondary-color : #e3f0ff;
}


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins','MyanmarSansPro' sans-serif;
}

.nav-link{
    font-size: 16px !important;
    color: var(--primary-color) !important;
    text-align: center;
}

.navbar-brand{
    font-weight: bold;
    font-size: 28px;
}

.nav-link.active{
    background-color: var(--primary-color) !important;
    color: #fff !important;
    border: 2px solid #fff;
}

.input-group{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.input-group-text{
    background-color: #fff;
    color: var(--primary-color);
}

.form-control[readonly]{
    background-color: #fff !important;
}

.nav-item{
    margin: 10px 0;
}

@media screen and (max-width : 992px){
    .nav-link{
        width: 25%;
    }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


#banner-slider img{
  height: 600px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  #banner-slider img{
    height: 400px;
  }
}